.header-container {
  height: 5rem;
  // border-bottom: 1px #f2f2f2 solid;
  display: flex;

  > .title {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 900;
    letter-spacing: -2px;
  }
  .icon {
    padding: 0.5rem 1rem 0rem 0rem;
    font-size: 4rem;
  }
}
