.home-container {
  .categorie {
    margin-top: 1rem;
    > .title {
      padding: 2rem 0rem;
      font-size: 2rem;
    }
  }
  .add {
    z-index: 10;
    border: 1px black solid;
    background-color: black;
    color: white;
    font-size: 5rem;
    padding: 0rem 1.5rem;
    border-radius: 5rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
}
