.home-container {
  .categorie {
    margin-top: 1rem;
    > .title {
      padding: 2rem 0rem;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 600px) {
}
.video-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .video-wrapper {
    display: flex;
    flex-direction: column;
  }
}
