.video-container {
  padding-top: 1rem;
  padding-right: 1vh;
  .player {
    position: relative;
    video {
      width: 100vw;
      margin-left: -2vh;
      // border-radius: 20px;
      &:focus {
        outline: none;
      }
    }
    .controls {
      border: 1px solid red;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10px;
    }
  }
  .title {
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 1.9rem 0rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .info {
    display: flex;
    justify-content: space-between;
    color: grey;
    padding-bottom: 2rem;
    border-bottom: #f2f2f2 1px solid;
  }

  .description {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #f2f2f2 1px solid;

    > .title {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
    }
    .content {
      line-height: 2rem;
      color: grey;
    }
  }
  .commentaire {
    .add-comment-container {
      height: 8rem;
      .add-comment {
        line-height: 2rem;
        font-size: 1rem;
        border: none;
        border-bottom: #f2f2f2 1px solid;
        width: 100%;
        font-weight: 400;
      }
      .submit-comment {
        float: right;
        padding: 0.8rem;
        border: none;
        color: grey;
        margin: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .comment {
      line-height: 2rem;
      color: grey;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: #f2f2f2 1px solid;
    }
  }
}
